<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320568000998-lpv3pksbfkif0pvo2590dc4ep4uh60o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320568000998-lpv3pksbfkif0pvo2590dc4ep4uh60o5</string>
	<key>API_KEY</key>
	<string>AIzaSyAspLIZGpT7kYIvXXgKsLnmucEmShYFs5M</string>
	<key>GCM_SENDER_ID</key>
	<string>320568000998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dall.flutterDebts</string>
	<key>PROJECT_ID</key>
	<string>my-tests-ee27a</string>
	<key>STORAGE_BUCKET</key>
	<string>my-tests-ee27a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320568000998:ios:9af94776cec55515431627</string>
	<key>DATABASE_URL</key>
	<string>https://my-tests-ee27a-default-rtdb.firebaseio.com</string>
</dict>
</plist>